.card-container {
    box-shadow: 0px 5px 5px -5px #8793a691;
}

#titre-result {
    color: white ;
}

.input-film {
    border-radius: 20px;
    background-color: #353434;
    border: 1px solid #9A9999;
    color: #9A9999;
    margin-right: 10px;
    padding: 10px;
}

.input-film::placeholder {
    color: white ;
}
