body {
    background-color: #474545;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    #navbar {
        width: 100%;
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .navbar-brand img {
        display: block;
        margin-bottom: 20px;
    }

    .navbar-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .nav-item {
        width: 50%;
        margin: 0 10px;
    }
}

@media (max-width: 576px) {
    .navbar-brand img {
        max-height: 40px;
    }

    .form-control {
        display: none;
    }
}

#navbar {
    background-color: #353434;
    border-radius: 20px;
    width: 75%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    max-height: 60px;
    width: auto;
    margin-right: 40px;
}

.navbar-nav {
    display: flex;
    flex-grow: 1;
    margin: 0;
}

.nav-item {
    margin: 0 10px;
}

.form-control {
    border-radius: 0;
}

.btn-primary {
    border-radius: 0;
}

#navbar #rechercher {
    border-radius: 20px;
    background-color: #353434;
    border-color: #9A9999;
    color: #9A9999;
}

#rechercher::placeholder {
    color: #9A9999;
}

#fonctionnalites h2 {
    color: #e2dfdf;
}

.feature-content {
    background-color: #312C2C;
}


.fonc-box {
    color: #e2dfdf;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease; /* Adjust time and easing function as needed */
}

.fonc-box:hover {
    background-color: black; /* Replace with your desired hover color */
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr; /* Creates one column */
    gap: 30px; /* adjust as needed */
}

@media (min-width: 600px) {
    .features-grid {
        grid-template-columns: 1fr; /* Keeps one column on larger screens */
    }
}

.container {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.content-with-img {
    display: flex;
    align-items: center; /* Vertically aligns the GIF and the paragraph */
    gap: 20px; /* Adjust as needed */
}

.feature-img {
    @media (max-width: 576px) {
        width: 50px; /* Adjust as needed for smaller screens */
    }

    @media (min-width: 577px) and (max-width: 1024px) {
        width: 60px; /* Adjust as needed for medium screens */
    }

    @media (min-width: 1025px) {
        width: 70px; /* Adjust as needed for larger screens */
    }
}

.feature-text-description {
    @media (max-width: 576px) {
        font-size: 16px;
    }

    @media (min-width: 577px) and (max-width: 1024px) {
        font-size: 18px;
    }

    @media (min-width: 1025px) {
        font-size: 20px;
    }
}

.img-fluid {
    width: 220px; /* Adjust as needed */
    height: 330px; /* Adjust as needed */
    overflow: hidden;
}

.image-content {
    background-size: cover;
    background-position: center;
    height: 100%;
}

.container.nouveautes {
    margin-bottom: 7rem;
}

/* Footer Styles */
.site-footer {
    background-color: #353434; /* Modifier selon la couleur exacte de votre design */
    color: #ffffff;
    text-align: center;
    padding: 40px 20px; /* Ajustez l'espacement selon vos besoins */
}

.footer-content {
    display: flex;
    flex-direction: column; /* Organise les éléments en colonne */
    align-items: center; /* Centre les éléments */
    justify-content: center;
}

.newsletter {
    margin-bottom: 20px; /* Espace entre la newsletter et les icônes */
}

.email-input {
    padding: 10px;
    border: 1px solid #ccc; /* Couleur de la bordure à ajuster selon le design */
    border-radius: 20px;
    width: 60%; /* Augmenté la largeur de la barre de mail */
    max-width: 350px; /* Limite la taille maximale si nécessaire */
    margin-bottom: 10px; /* Espace sous la barre d'email */
}

.subscribe-btn {
    padding: 10px 20px;
    background-color: #474545; /* Modifier selon la couleur exacte de votre design */
    border: none;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
}

.social-icons {
    margin-bottom: 20px; /* Espace entre les icônes et les liens */
}

.social-icon {
    padding: 10px;
    color: #ffffff;
    font-size: 24px; /* Taille des icônes de réseaux sociaux */
    margin: 0 5px; /* Espace horizontal autour des icônes */
}

.footer-links {
    text-align: center; /* Centre les liens */
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px; /* Taille du texte des liens */
    margin: 0 10px; /* Espace horizontal entre les liens */
    display: inline; /* Affiche les liens en ligne */
}

/* Media query pour réduire la taille des textes et des icônes sur les petits écrans */
@media (max-width: 576px) {
    .email-input {
        width: 90%; /* Ajusté pour les petits écrans */
    }
    
    .social-icon,
    .footer-link {
        font-size: 16px; /* Réduit la taille sur les petits écrans */
    }
}

.my-5 {
    margin-top: 6rem !important;
    margin-bottom: 4rem !important;
}