.container-background {
    background-color: #f2f2f247;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

img.card-img {
    margin-top: 20px;
    margin-left: 10px;
}