.card-container {
    box-shadow: 0px 5px 5px -5px #8793a691;
}

#titre-result {
    color: white ;
}

.input-film {
    border-radius: 20px;
    background-color: #353434;
    border: 1px solid #9A9999;
    color: #9A9999;
    margin-right: 10px;
    padding: 10px;
}

.input-film::placeholder {
    color: white ;
}

a {
    text-decoration: none !important;
}

/* CSS pour ajouter une transition de couleur sur le hover des titres */
h5.card-title {
    text-decoration: none;
    color: black;
    transition: color 0.3s; /* Ajoute une transition de couleur de 0.3 seconde */
}

h5.card-title:hover {
    color: #6a6a6a; /* Change la couleur du texte au survol */
}
